*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    height: 100vh;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero-container {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.intro {
    padding: 20px;
    color: #E66731;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.main-text {
    font-size: 24px;
    margin-bottom: 20px;
}

.main-text-bg {
    background: #F5DCD2;
    padding: 0 5px 0 5px;
}

.sub-text {
    font-size: 20px;
}

.links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.link {
    display: flex;
    background-color: #e3f0f3;
    color: #4a6f75;
    font-size: 16px;
    padding: 10px;
}

.first-link {
    margin-right: 10px;
}

.link:hover {
    cursor: pointer;
    transform: translateY(-4px);
}

.skills {
    display: flex;
    justify-content: center;
    background: #EDEEF7;
    padding: 20px;
    line-height: 1.5;
    width: 80%;
    border: 2px solid lightgray;
}

.skill {
    display: flex;
    margin-left: 20px;
}

.icon {
    height: 25px;
    margin-right: 10px;
}

.code-1 {
    color: #DC3E58;
}

.code-2 {
    color: #F8C233;
}

.code-3 {
    color: #459069
}

.code-4 {
    color: #ae81ff
}

.content-container {
    background: #F8F9FA;
    width: 60%;
}

.content {
    height: 50%;
}

.title-container {
    background: #EEEAF9;
    color: #9980FA;
    padding: 20px;
    height: 15%;
    display: flex;
    align-items: center;
}

.card-container {
    display: flex;
    height: 85%;
    padding: 20px;
    overflow-x: scroll;
    scrollbar-width: 1px;
}

.card {
    flex: 0 0 auto;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
    border: 1px solid rgb(247, 247, 247);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 10px;
    margin-right: 20px;
    transition: box-shadow 0.2s ease 0s;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 30px 60px;
}

.card .main-text {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

.card .sub-text {
    font-size: 16px;
    color: rgb(153, 153, 153);
    margin-bottom: 0px;
}

.project_image {
    vertical-align: middle;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

@media only screen and (max-width: 1024px) {
    body {
        flex-direction: column;
    }

    .hero-container {
        width: 100%;
    }

    .skills {
        width: 60%;
    }

    .content-container {
        width: 100%;
    }
}