*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #fff;
  --color-text-primary: #1f4160;
  --color-primary: #57af7a;
  --color-primary-light: #89c7a2;
  --color-highlight: #1f4160;
  --color-highlight-bg: #fbe7b2;
  --color-border: #ddd;
  --color-btn: #5851ec;
  --color-btn-bg: #e5edff;
  --color-btn-shadow: rgba(230, 237, 255, 0.7);
  --color-btn-shadow-anime: rgba(230, 237, 255, 0);
  --color-icon-resume: #250902;
  --color-icon-github: #171515;
  --color-icon-linkedin: #0077b5;
  --color-icon-medium: #212121;
  --color-icon-twitter: #03a9f4;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5rem;
  color: var(--color-text-primary);
  background: var(--color-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 70%;
  margin: 0 auto;
}

/* Toggle button css https://blog.prototypr.io/create-a-scenic-day-and-night-toggle-button-with-html-and-css-37a8e2532e68 */

.dark-mode-toggle {
  position: fixed;
  top: 2rem;
  right: 2.5rem;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
  background-size: cover;
  transition: background-image 0.9s;
  box-shadow: 0px 2px 5px 1px gray;
}

.dark-mode-toggle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  /* background-color: navy; */
  border-radius: 50px;
  transition: all 0.9s;
  background-color: #f7ca33;
}

.dark-mode-toggle:checked {
  background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
  transition: background-image 0.9s;
}

.dark-mode-toggle:checked:before {
  transform: translate(100%);
  transition: all 0.9s;
  background-color: #ecf0f3;
}

.nav {
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  display: flex;
  flex-direction: column;
  color: var(--color-primary-light);
  background: var(--color-bg);
  top: 2rem;
  left: 2.5rem;
  z-index: 2;
}

.nav a {
  margin-bottom: 1.5rem;
  transition: all 0.3s ease 0s;
}

.nav a:hover {
  color: var(--color-primary);
}

.nav .visible {
  color: var(--color-primary);
  transform: scale(1.2);
}

#home {
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  text-align: center;
  visibility: hidden;
}

.avatar-container {
  height: 180px;
  text-align: center;
  margin-bottom: 1rem;
}

.avatar {
  height: 100%;
  border-radius: 50%;
}

.main-text {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.sub-text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.link {
  margin-left: 1.5rem;
}

.link:first-child {
  margin: unset;
}

.links .icon {
  width: 1rem;
  height: 1rem;
  fill: var(--color-primary);
}

.resume-icon:hover {
  fill: var(--color-icon-resume);
}

.github-icon:hover {
  fill: var(--color-icon-github);
}

.linkedin-icon:hover {
  fill: var(--color-icon-linkedin);
}

.medium-icon:hover {
  fill: var(--color-icon-medium);
}

.twitter-icon:hover {
  fill: var(--color-icon-twitter);
}

#about {
  margin-bottom: 4rem;
  padding-top: 2.5rem;
}

.aboutme {
  margin-bottom: 3rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  width: 16.5%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill .icon {
  height: 3rem;
  margin: unset;
}

.title {
  display: inline-block;
  color: var(--color-highlight);
  background: var(--color-highlight-bg);
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

#projects {
  margin-bottom: 6rem;
  padding-top: 2.5rem;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  margin-bottom: 3rem;
}

.project-intro {
  width: 50%;
  margin-right: 0.75rem;
}

.description {
  margin-bottom: 1rem;
}

.project-image {
  width: 50%;
}

.content-image {
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

.footer {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 2rem;
  margin-bottom: 1rem;
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .links {
  margin: unset;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--color-btn);
  background-color: var(--color-btn-bg);
  border-radius: 0.3rem;
}

.overlayLeftBtn {
  position: relative;
  overflow: hidden;
}

.overlayLeftBtn span {
  position: relative;
  z-index: 1;
  transition: color 0.25s cubic-bezier(0.7, 0, 0.9, 1);
}

.overlayLeftBtn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 0.3rem;
  transform: translate(-101%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--color-btn);
  transition: transform 0.25s cubic-bezier(0.7, 0, 0.9, 1);
}

.overlayLeftBtn:hover span {
  color: var(--color-btn-bg);
}

.overlayLeftBtn:hover::before {
  transform: translate(0, -50%);
}

.pulseBtn {
  box-shadow: 0 0 0 0 var(--color-btn-shadow);
  animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 30px var(--color-btn-shadow-anime);
  }
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 18px;
  }

  .app {
    width: 90%;
  }

  .dark-mode-toggle {
    top: 1.5rem;
    right: 1.5rem;
    z-index: 3;
  }

  .nav {
    flex-direction: row;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.5rem;
  }

  .nav a {
    margin: unset;
    margin-right: 2rem;
  }

  .skill {
    width: 25%;
  }

  .intro {
    visibility: unset;
  }

  #about,
  #projects {
    padding-top: 5rem;
  }

  .project {
    flex-direction: column;
  }

  .project-intro {
    width: 100%;
    padding: unset;
  }

  .project-image {
    width: 100%;
  }

  .buttons {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 609px) {
  html {
    font-size: 16px;
  }

  .dark-mode-toggle {
    width: 50px;
    height: 25px;
  }

  .dark-mode-toggle:before {
    height: 25px;
    width: 25px;
  }

  .main-text {
    font-size: 1.8rem;
  }

  .sub-text {
    font-size: 1rem;
  }

  .footer {
    padding: 0 1rem;
    justify-content: space-around;
    line-height: 0.8rem;
  }

  .footer .link {
    margin-left: 0.8rem;
  }

  .footer .link:first-child {
    margin-left: unset;
  }

  .footer .links {
    margin: 0 0.8rem;
  }

  .skill {
    width: 33.33%;
  }
}
