*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: #1f4160;
  background: #fff;
}

code {
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: 20px auto;
}

.icon {
  height: 25px;
  margin-right: 10px;
  transition: all 0.2s ease;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
}

.twitter_icon {
  margin-top: 5px;
}

.linkedin_icon {
}

.header .icon:hover {
  transform: scale(1.2);
}

.hero {
  max-width: 700px;
  margin: 100px auto;
}

.intro {
  text-align: center;
  margin-bottom: 120px;
}

.avatar-container {
  width: 180px;
  height: 180px;
  margin: 20px auto;
}

.avatar {
  width: 100%;
  border-radius: 50%;
}

.main-text {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.main-text span {
  /* font-size: 4.0rem; */
}

.sub-text {
  line-height: 1.4;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.sub-text span {
  background: #d2d9df;
}

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #57af7a;
  transition: all 0.3s ease;
}

.first-link {
  margin-right: 30px;
}

.link:hover {
  cursor: pointer;
  transform: translateY(-6px);
}

.code-wrapper {
  border-top: 2px solid white;
  transition: all 0.5s ease;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.07);
}

.code-wrapper:hover {
  border-top: 2px solid #ffc312;
}

.code-header {
  background: #f2f2f7;
  color: #8b8ba7;
  padding: 15px;
}

.code-content {
  display: flex;
  justify-content: center;
  background: #334150;
  line-height: 1.5;
  padding: 30px;
}

.skill {
  display: flex;
  margin-left: 20px;
}

.code-1 {
  color: #ffc312;
}

.code-2 {
  color: #ff8d58;
}

.code-3 {
  color: #65ddd9;
}

.code-4 {
  color: #dc3e58;
}

.code-5 {
  color: #75f7a6;
}

.title-container {
  font-size: 1.6rem;
  color: #57af7a;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
}

.card {
  width: 45%;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
  transition: box-shadow 0.2s ease 0s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 30px 60px;
}

.card .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.title .tech {
  display: flex;
  justify-content: flex-end;
}

.content_image {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.footer {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  color: #8b8ba7;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .card {
    width: 90%;
  }

  .icon {
    height: 20px;
    margin-right: 5px;
  }
}
